.houjin-sec1 {
    .inner {
        background-image: url(../images/houjin/sec1-top-img.jpg);
    }
}

.houjin-common-anker-btn {
    justify-content: center;
    .item {
        margin-right: 10%;
    }
}

.houjin-sec2 {
    margin-top: 85px;
    .service-box {
        margin: 0 auto;
        margin-top: 40px;
        width: 75%;
        max-width: 1400px;
        .inner {
            width: 100%;
            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 95px;
                .left {
                    width: 46%;
                }
                .right {
                    width: 45%;
                    padding-left: 25px;
                    padding-right: 20px;
                    box-sizing: border-box;
                    .title {
                        font-size: 26px;
                        font-weight: 900;
                        font-family: 'Zen Kaku Gothic New', sans-serif;
                        color:#C51726;
                        line-height: 1;
                        margin-bottom: 36px;
                    }
                    .text {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 1.9;
                    }
                    .price-text {
                        font-size: 15px;
                        font-weight: bold;
                        margin-top: 15px;
                        span {
                            font-size: 55px;
                            font-family: DIN;
                            color:#C51726;
                            margin-left: 20px;
                            font-weight: normal;
                        }
                        .small {
                            font-size: 42px;
                            margin-left: 0px;
                            margin-right: 5px;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .more-btn {
            margin: 0 auto;
            margin-top: 66px;
            margin-bottom: 148px;
        }
    }
}

.houjin-sec3-top-img {
    margin-bottom: 0;
}

.houjin-sec3 {
    margin-top: -170px;
    .gray-bg {
        padding-top: 230px;
        padding-bottom: 160px;
        width: 100%;
        background-color: #F4F4F4;
        .first-rtitle {
            margin-top: 62px;
            font-size: 26px;
            font-weight: 900;
            font-family: 'Zen Kaku Gothic New', sans-serif;
            text-align: center;
            color:#C51726;
            line-height: 1.8;
            margin-bottom: 55px;
        }
        .first-text {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 2.6;
        }
    }
    .com-black-title {
        margin-top: 82px;
    }
    .box1 {
        margin: 0 auto;
        width: 78%;
        max-width: 1500px;
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            width: 59%;
        }
        .right {
            width: 35%;
            p {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.7;
                letter-spacing:2px;
            }
        }
    }
    .box2 {
        margin: 0 auto;
        width: 90%;
        max-width: 1500px;
        margin-top: 98px;
        margin-bottom: 90px;
        position: relative;
        .bg {
            width: 85%;
            max-width: 1100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index:-1;
        }
        .inner {
            display: flex;
            width: 90%;
            margin-left: auto;
            flex-wrap:wrap;
            .item {
                width: 31%;
                margin-right: 3.5%;
                margin-bottom: 40px;
                .title {
                    font-size: 20px;
                    font-weight: 900;
                    font-family: 'Zen Kaku Gothic New', sans-serif;
                    color:#C51726;
                    line-height: 1.5;
                    margin-bottom: 8px;
                    img {
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        margin-bottom: -2px;
                        margin-left: 5px;
                    }
                }
                p {
                    font-size: 15px;
                    line-height: 1.7;
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }
        }
    }
    .gray-bg2 {
        width: 100%;
        background-color: #F4F4F4;
        padding-top: 115px;
        padding-bottom: 180px;
        margin-top: 98px;
        .haitatu-box {
            width: 83%;
            margin: 0 auto;
            max-width: 1500px;
            .inner {
                background-image: url(../images/houjin/sec3-bg.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding-top: 84px;
                padding-bottom: 70px;
                text-align: center;
                font-weight: bold;
                position: relative;
                color:white;
                .chara {
                    position: absolute;
                    width: 15%;
                    top: 0%;
                    left: 50%;
                    transform:translate(-50%,-50%);
                }
                .p1 {
                    font-size: 20px;
                    font-family: 'Zen Kaku Gothic New', sans-serif;
                    line-height: 1;
                    margin-bottom: 20px;
                    font-weight: 900;
                }
                .title {
                    font-size: 50px;
                    font-family: 'Zen Kaku Gothic New', sans-serif;
                    line-height: 1;
                    width: fit-content;
                    margin: 0 auto;
                    margin-bottom: 33px;
                    border-bottom: 6px solid #C51726;
                    padding-bottom: 8px;
                    font-weight: 900;
                }
                .p2 {
                    font-size: 26px;
                    font-family: 'Zen Kaku Gothic New', sans-serif;
                    margin-bottom: 5px;
                    font-weight: 900;
                }
                .p3 {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
                .p4 {
                    font-size: 16px;
                    line-height: 1.7;
                }
            }
            .text-box {
                width: 80%;
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                justify-content: space-between;
                .side {
                    width: 45%;
                    // width: fit-content;
                    .title {
                        font-size: 22px;
                        font-weight: bold;
                        margin-top: 45px;
                        line-height: 1;
                        color:#C51726;
                        margin-bottom: 15px;
                    }
                    .text {
                        font-size: 16px;
                        line-height: 1.7;
                    }
                }
            }
        }
    }
    .oil-tel {
        .text {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }
        a {
            width: 70%;
            margin: 0 auto;
        }
    }
}

.houjin-sec4 {
    margin-bottom: 80px;
}

@media screen and (max-width: 1025px) {
    .houjin-sec2 {
        .service-box {
            .inner {
                .item {
                    .right {
                        width: 54%;
                    }
                }
            }
        }
    }
    .houjin-sec3 {
        .box2 {
            .inner {
                width: 94%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .houjin-sec1 {
        .inner {
            background-image: url(../images/houjin/sec1-top-img-sp.jpg);
        }
    }

    .houjin-sec2 {
        margin-top: 70px;
        .service-box {
            margin-top: 20px;
            width: 88%;
            .inner {
                .item {
                    margin-bottom: 50px;
                    .right {
                        width: 48%;
                        padding-left: 15px;
                        padding-right: 10px;
                        .title {
                            font-size: 22px;
                            margin-bottom: 19px;
                        }
                        .text {
                            font-size: 14px;
                            line-height: 1.8;
                        }
                        .price-text {
                            margin-top: 8px;
                            span {
                                margin-left: 10px;
                            }
                            .small {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
            .more-btn {
                margin-top: 33px;
                margin-bottom: 86px;
                width: 100%;
            }
        }
    }
    
    .houjin-sec3-top-img {
        margin-bottom: 0;
    }
    
    .houjin-sec3 {
        margin-top: 0px;
        .gray-bg {
            padding-top: 36px;
            padding-bottom: 110px;
            .first-rtitle {
                margin-top: 22px;
                font-size: 18px;
                line-height: 1.7;
                margin-bottom: 43px;
                letter-spacing:2px;
            }
            .first-text {
                font-size: 15px;
                line-height: 2.2;
            }
        }
        .com-black-title {
            margin-top: 52px;
        }
        .box1 {
            width: 88%;
            margin-top: 58px;
            .right {
                p {
                    font-size: 14px;
                    letter-spacing:1px;
                }
            }
        }
        .box2 {
            width: 100%;
            margin-top: 73px;
            margin-bottom: 110px;
            .bg {
                width: 100%;
            }
            .inner {
                width: 88%;
                margin-left: auto;
                margin-right: auto;
                .item {
                    width: 48%;
                    margin-right: 4%;
                    margin-bottom: 23px;
                    .title {
                        font-size: 16px;
                        line-height: 1.6;
                        margin-bottom: 6px;
                        img {
                            width: 14px;
                            height: 14px;
                            margin-bottom: -1px;
                            margin-left: 3px;
                        }
                    }
                    p {
                        font-size: 13px;
                        line-height: 1.6;
                    }
                    &:nth-child(3n) {
                        margin-right: 4%;
                    }
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }
        .gray-bg2 {
            padding-top: 88px;
            padding-bottom: 68px;
            margin-top: 73px;
            .haitatu-box {
                width: 93%;
                .inner {
                    background-image: url(../images/houjin/sec3-bg-sp.png);
                    padding-top: 83px;
                    padding-bottom: 53px;
                    .chara {
                        width: 160px;
                        top: 0;
                    }
                    .p1 {
                        font-size: 13px;
                        margin-bottom: 14px;
                    }
                    .title {
                        font-size: 30px;
                        margin-bottom: 20px;
                        border-bottom: 4px solid #C51726;
                    }
                    .p2 {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    .p3 {
                        font-size: 10px;
                    }
                    .p4 {
                        font-size: 14px;
                    }
                }
                .text-box {
                    width: 100%;
                    display: block;
                    .side {
                        width: 100%;
                        .title {
                            font-size: 20px;
                            margin-top: 28px;
                            margin-bottom: 9px;
                        }
                        .text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .oil-tel {
            .text {
                font-size: 12px;
            }
            a {
                width: 90%;
            }
        }
    }
    
    .houjin-sec4 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 414px) {
    .houjin-common-anker-btn {
        justify-content: flex-start;
        .item {
            margin-right: 8%;
        }
    }

    .houjin-sec2 {
        .service-box {
            .inner {
                .item {
                    display: block;
                    .right {
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .left {
                        width: 100%;
                        margin-bottom: 35px;
                    }
                    &:last-child {
                        display: flex;
                        flex-flow:column-reverse;
                    }
                }
            }
        }
    }
    
    .houjin-sec3-top-img {
        margin-bottom: 0;
    }
    
    .houjin-sec3 {
        .box1 {
            display: block;
            .right {
                width: 100%;
                p {
                    margin-top: 10px;
                    letter-spacing:2px;
                }
                .rtitle {
                    font-size: 18px;
                    font-weight: bold;
                    font-family: 'Zen Kaku Gothic New', sans-serif;
                    color:#C51726;
                    line-height: 1;
                    font-weight: 900;
                }
            }
            .left {
                width: 100%;
                margin-bottom: 22px;
            }
        }
        .box2 {
            .inner {
                .item {
                    width: 100%;
                    margin-right: 0;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
        .gray-bg2 {
            .haitatu-box {
                .inner {
                    .chara {
                        top: 10px;
                    }
                }
            }
        }
    }
    
    .houjin-sec4 {
        margin-bottom: 43px;
    }
}